table{
    border-collapse: collapse;
    border-spacing: 0;
    /*border: 0.5px solid #c5e2db;*/
}


.small-box{
    display: inline-block;
    height: 28px;
    width: 28px;
    border: 1px solid #4a5e58; 
}

.disable{
    pointer-events: none;
}

.enable{
    pointer-events: all;
}

th, td{
    text-align: center;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border: 0.5px solid #d8d1e8;
    height: 24px;
    width: 24px;
}