<mat-toolbar>
    <img src = '../../assets/testimage.ico' height="93" routerLink="/"/>
    <button mat-flat-button color="primary" [matMenuTriggerFor]="application">{{selectedApplication}}</button>
    <mat-menu #application>
        <button routerLink="/pathfinder" (click)="onClickHandler($event)" mat-menu-item class="example-icon" aria-label="Example icon-button with heart icon">
            Path Finder
        </button>
        <button routerLink="/" mat-menu-item (click)="onClickHandler($event)"  class="example-icon" aria-label="Example icon-button with heart icon">
            Sorting Visualiser
        </button>
    </mat-menu>


    <div *ngIf="algorithmMenu">
    <button mat-button [matMenuTriggerFor]="menu">Select an Algorithms</button>
        <mat-menu #menu="matMenu">
            <button (click)="mazeAlgorithm($event)" mat-menu-item *ngFor="let item of algorithmMenu" >
                 {{ item }}
            </button>
        </mat-menu>
    </div>
    
    <div *ngIf="mazeMenu">
        <button mat-button [matMenuTriggerFor]="maze">Select an Maze</button>
        <mat-menu #maze="matMenu">
            <button (click)="mazeAlgorithm($event)" mat-menu-item *ngFor="let item of mazeMenu" >
                {{ item }}
            </button>
        </mat-menu>
    </div>
    
    <span class="example-spacer"></span>
    <span style="font-size:small">Speed &nbsp;</span>
    <mat-slider min="10" max="50" step="1" >
        <input matSliderThumb [(ngModel)]="colorNode.speed">
    </mat-slider>
    <button mat-flat-button color="warn" (click)="resetBoard()">Reset Board</button>
</mat-toolbar>